body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
    background-image: url("../../images/fondo.jpeg");
    backdrop-filter: blur(5px) brightness(50%);
    background-size:cover;
    background-repeat: no-repeat;
}
.slide {
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
h1, h2 ,h3,h4{
    margin: 10px 0;
    color: #ff00c3;
}
p, ul {
    font-size: 1.2em;
    color: #ffffff;
    margin: 10px 0;
}
ul {
    list-style-type: square;
}
.container {
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
}
.nav {
    margin: 20px;
    text-align: center;
}
.nav button {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #d49afe;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.nav button:hover{
    background-color: darkmagenta;
}
.active {
    display: flex;
    align-items: center;
}
pre {
    background-color: #2e2e2e;
    color: #00ff08;
    padding: 10px;
    border-radius: 8px;
    white-space: pre-wrap;
    text-align: left;
    max-width: 100%;
    overflow-x: auto;
    /* user-select: none; 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; */
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.9); 
    padding-top: 60px;
}
.modal-content {
    background-color: transparent;
    margin: 5% auto; 
    padding: 20px;
    border: none;
    width: 80%; 
    color: #00ff08;
    font-size: 1.5em;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}